<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Doughlicious Pizza</title>
</head>
<body>
    <div class="banner">
        <img src="/static/logo.png" alt="Doughlicious Pizza Logo" class="logo">
    </div>
    <h1>Welcome to Doughlicious Pizza!</h1>
<section class="two-column">  
    <!-- Slideshow container -->
    <div class="slideshow-container">
        <img src="/static/front page gif.gif" style="width:100%">
    </div>
    <div class="slideshow-info">
        <h1>Low Prices</h1>
        <p>Enjoy delicious, budget-friendly pizzas without compromising on taste! Our low-price pizzas are made with fresh, quality ingredients and loaded with your favorite toppings. Perfect for satisfying your cravings while keeping your wallet happy. Whether you're feeding a crowd or treating yourself, our affordable options ensure everyone gets a slice of the goodness. Order now and savor great pizza at unbeatable prices!</p>
        <a href="/store" class="btn">Order Now</a>
    </div>
    <br>
</section>